.invoicePage {
    padding: 20px;
}

/* ===== Header ===== */
/* Header */
.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

/* Left side */
.headerLeft {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25px;
}

/* Right side */
.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ===== Filter ===== */
.filterCard {
    margin-bottom: 16px;

    :global(.ant-card-body) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.tableData {
    font-size: 15px;
}

.tableData {
    :global {
        .ant-table-tbody>tr>td {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }

        .ant-table-thead>tr>th {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}